@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    background-image: url('image/background.pg');
    background-size: cover;
}
.container {
    border: 1px solid black;
    margin: 50px 1.8in 0 6in;
    height: 580px;
    background-color: white;
}
h5 {
    color: rgba(128, 128, 128, 0.616);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    padding: 40px 0 0 80px;
}
input[type='text'] {
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    margin: 0 0 0 80px;
    padding: 8px 2.8in 8px 5px;
    transform: translateY(-18px);
    font-size: 15px;
}
.h5 {
    transform: translateY(-40px);
}
input[type='email'] {
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    margin: 0 0 0 80px;
    padding: 8px 2.8in 8px 5px;
    transform: translateY(-56px);
    font-size: 15px;
}
.h6 {
    transform: translateY(-80px);
}
input[type='password'] {
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    margin: 0 0 0 80px;
    padding: 8px 2.8in 8px 5px;
    transform: translateY(-90px);
    font-size: 15px;
}
.h7 {
    transform: translateY(-110px);
}
.pass {
    transform: translateY(-40px);
}
form {
    transform: translateY(-90px);
    margin-left: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    font-size: 14px;
}
a {
    color: rgb(3, 202, 3);
    text-decoration: none;
}
button {
    transform: translateY(-60px);
    margin-left: 80px;
    border:none;
    outline: none;
    padding: 8px 30px 8px 30px;
    background-color: rgb(7, 199, 7);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 3px;
}
.or {
    margin-left: 220px;
    transform: translateY(-87px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
}
.link {
    margin-left: 240px;
    transform: translateY(-106px);
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
img {
    transform: translateY(-582px);
    margin-left: 208px;
}
.footer {
    background-image: url('image/mountain.jpg'),url('image/gold.jpg');
    background-size: cover;
    height: 580px;
    margin: 0 756px 0 150px;
    transform: translateY(-602px);
    background-blend-mode: soft-light;
}
h1 {
    color: white;
    padding: 80px 0 0 80px;
    font-family: 'Montserrat', sans-serif;
}
p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px 0 0 80px;
}
.p {
    transform: translateY(-50px);
}
h6 {
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p2 {
    transform: translateY(-50px);
}
h3 {
    padding-top: 150px;
    padding-left: 130px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
img {
    transform: translateY(-659px);
    padding-left: 30px;
}
